@tailwind base;
@tailwind components;
@tailwind utilities;
.fc-event {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.fc-daygrid-event-dot {
  display: none !important;
}
